{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container text-light pt-4 mt-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <label
                style=" font-family: Tahoma; font-size: 30px; font-style: oblique; font-variant: normal; font-weight: bold; letter-spacing: 15px;">
                TASK BY BOOKSAPP
            </label>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-xl-4 col-lg-4 col-sm-12 sol-xs-12 text-center">
            <i class="fa fa-solid icon fa-user-plus"></i><br>
            <label class="text-light icon-text">REGISTER</label>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-12 sol-xs-12 text-center">
            <i class="fa fa-solid icon icon-right fa-arrow-right"></i><br>
            <i class="fa fa-solid icon icon-down fa-arrow-down"></i>

        </div>
        <div class="col-xl-4 col-lg-4 col-sm-12 sol-xs-12 text-center">
            <i class="fa fa-solid icon fa-envelope "></i><br>
            <label class="text-light icon-text">ENVELOPE</label>
        </div>
    </div>
</div>

{% endblock %}